
/* CSS Mini Reset */

html, body {
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
}

html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}



table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption, p { font-weight:normal; text-align: center; }
h1, h2, h3, h4, h5, h6, th, td, caption {padding: 10px;margin: 10px; clear: both; }

img { border: 0; }


body {
    font-family: "Poppins", serif;
    margin: 0;
    padding-top: 60px;
    height: 100vh; 
    background-color: #fefefe;
}


/* Badges/Labels start */

.labels {
    margin: 10px;
}

.badge {
    margin: 0px 5px 5px 0px;
    display: inline-block;
    background-color: #f0f0f0;
    color: #818491;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 12px;
    text-transform: uppercase;
    float: left;
    border-radius: 2px;
}



.strawberry-idea {
    background-color: #FFC0CB;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}


.orange-idea {
    background-color: #FAC898;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}

.lavendar-idea {
    background-color: #d4c0dc;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}


.lake-idea {
    background-color: #c6dedf;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}

.earth-idea {
    background-color: #dfc6c8;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}


.heart-idea {
    background-color: #ffcdcd;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}


.gold-idea {
    background-color: #fff7cd;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}


.greenfields-idea {
    background-color: #d8e9c1;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}

.grey-idea {
    background-color: #ebeced;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}

.skin-idea {
    background-color: #e2d5d0;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}

.plum-idea {
    background-color: #d9d0da;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}


.sky-idea {
    background-color: #c3dae9;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}

.earth-idea {
    background-color: #d3d2d0;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}

.mustard-idea {
    background-color: #ffeaa6;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}


.green-idea {
    background-color: #cdffcd;
    color: #555;
    font-weight: normal;
    padding: 2px 7px;
    border-radius: 2px;
}

/* Badges/Labels end */

/* Navigation start */


nav {
    font-family: "Poppins", serif;
    position: fixed;  
    
    top: 0;
    left: 0;
    width: 100%;      /* Full width */
    background-color: #ebeef3;
    color: #071b4a;
    padding: 15px 20px;
    z-index: 1000;    /* Ensures it stays above other content */
}



nav ul {
    font-family: "Poppins", serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

nav ul li {
    font-family: "Poppins", serif;
    display: inline-block; 
   
}

nav ul li a {
    font-family: "Poppins", serif;
    text-decoration: none;
    color: #071b4a;
    font-size: 16px;
}

nav ul li a:hover {
    font-family: "Poppins", serif;
    text-decoration: underline;
}

/* Navigation end */


/* Typogrphy start */

/* Titles start */
.captation-title {
    font-size: 1.5em;
    font-weight: 800;
    margin: 5px 0px;
}

.display-title {
    margin: 0 auto;
    color:  #2E6BA4ff ;
    font-size: 28px;
    font-weight: 900;
    padding: 10px 0px;
}


.cover-alternate-container.two h3.strong-typography, .cover-alternate-container.two p  {
    color: #ffffff;
}


/* Font Poppins */

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}
  
.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}
  
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
  
.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}
  
.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}
  
.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}
  
.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}
  
.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}
  
.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}
  
.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}
  
.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}
  
.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}
  
.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}

  
  /* Font Poppins end */


/* Titles end */

h1, h2, h4, h5, h6, p {
    margin: 10px;
    text-align: center;
    font-family: "Poppins", serif;
    color: #071b4a;
}

h1 {
    font-size: 2em;
    font-weight: 900;
}


h2 {
    font-size: 1.7em;
    font-weight: 700;
}

.text-content h2 {
    font-size: 1.5em;
    text-align: left;
    padding: 10px 0px 0px 0px;
}

h3 {
    font-size: 1.3em;
    font-weight: 400;
}

.cover-alternate-content.wider > .landingpage-title {
    color: #2e6ba4;
}

p, a, a:link {
    font-size: 1em;
    font-weight: 400;
}

a, a:active {
    color: #3200cc;
    text-decoration: none;
}

a:hover {
    color: #3F00FF;
    text-decoration: none;
}

/* Lists */

ul, ol {
    text-align: center;
    font-family: "Poppins", serif;
    color: #071b4a;
    font-size: 1em;
    text-align: left;
    margin: 0px;
    padding: 0px;
}


li {
    padding: 0px;
}


ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside; 
}

ul li, ol li {
    padding-left: 30px; 
    line-height: 1.6; 
}

ol {
    list-style-type: decimal;
    margin-bottom: 30px;
}

ol ::marker {
    font-weight: bold;
}
  

ul {
    list-style-type: disc; 
    font-size: 1em;
}


ul li, ol li {
    margin-bottom: 10px; 
}


/* Lists end */


/* Containers */

.cover-alternate-content {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.cover-alternate-content .bleed-into-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 90%;
}


.cover-alternate-container.two {
    background-color: #071E55;
    padding: 60px 0px;
}

.cover-alternate-container.three {
    background-color: #9b719d;
    padding: 60px 0px;
}


.internal-page-card div {
    padding: 0px 0px 0px 90px;
}

/* Portfolio case study cards start */

.card-content {
    width: 80%;
    margin: 20px auto;
}

.card-content p {
    font-weight: 500;
}

/* Portfolio case study cards end */

.button-like-eg {
    margin: 5% 30%;
    padding: 10px 20px;
    display: inline-block;
    background: linear-gradient(to bottom, #FFD1DC, #B3D9FF); 
    border-radius: 60px;
    font-size: 32px;
    font-weight: 600; 
    color: #071E55; 
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 
        background 0.4s ease-in-out, 
        transform 0.2s ease, 
        text-decoration 0.2s ease, 
        box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.button-like-eg:hover {
    background: linear-gradient(to bottom,  #FDF5F5,  #FFD1DC);
    text-decoration: underline;
    transform: scale(1.06);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); 
}

.button-like-eg:active {
    transform: scale(0.96); 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12); 
}


.cover-alternate-content p {
    color: #071b4a;
}


.word-cloud {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.word {
    display: inline-block;
    margin: 5px;
    font-family: Arial, sans-serif;
}

.small { font-size: 14px; color: gray; }
.medium { font-size: 24px; color: blue; }
.large { font-size: 36px; font-weight: bold; color: red; }
/* Typogrphy end */


/* Banner */
.cover-alternate-content.wider {
    margin: 0 0 60px 0;
    padding: 60px;
    background-image: url('./images/banner-header.png');
    background-repeat: no-repeat; 
    background-position: right; 
    background-size: 50%; 
}

.text-only-wider {
    margin-right: 60px;
    position: relative;
    left: -200px;
}


/* Content divs start */
.wrapper {
    flex: 1;
    margin: 0 auto;
    text-align: center;
    width: 100vw; 
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.bkg-cover{
    margin: 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
}

svg {
    display: block;
    margin: 60px;
}


.container-eg {
    margin: 0px 0px 30px 0px;
}
  

.cover-alternate-content h2{
    color: #ffffff;
}

.cover-alternate-container.one .cover-alternate-content h2 {
    color: #071E55;
    margin: 0px;
}

.content {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}


.strong-typography {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6;
}


/* Portfolio internal pages */

.main-content h1 {
    width: 50%;
    margin: 0 auto;
}


.content-bit {
    float: left;
}

.text-content {
    margin-left: 30px;
    float: left;
    width: 60%;
    text-align: left;
}

.text-content p, .text-content h1, .text-content h2, .text-content h3, .text-content ol, .text-content ol li, .text-content ul, .text-content ul li, .text-content li {
    text-align: left;
  }

.text-content img {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}



.small-text-legend {
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #5a5a5a;
}


/* Content divs end */


.banner-eg {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.banner-general {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.label {
    font-family: "Poppins", serif;
    font-size: 13px;
    color: #777777;

}

/* Images start */

.simg {
    width:50%;
    height: auto;
}

img {
    width: 100%;
    padding: 10px;
    height: auto;
    border-radius: 5px;
}

.card-content img {
    width: 70%;
}

.internal-page-card img {
    width: 100%;
    float: left;
}

.cover-alternate-content.wider.left {
    float: right;
    width: 50%;
}
  


.display-title-bottom {
    margin: 0px;
}


.my-hero {
    width: 20%;
}
/* Images end */

/* Footer start */



/* Footer styling */


footer {
    font-family: "Poppins", serif;
    background-color: #ffffff;
    color: #777777; 
    padding: 10px;
}

/* Footer end */

/* Cards start */


.container {
    float: left;
    max-width: 50%;
}


.interna-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
}


.text-card {
    color: #71797E;
    font-size: 1em;
}

.card-case-studies {
    margin: 0px 40px 40px 40px;
    padding: 10px;
    height:500px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 
        background 0.4s ease-in-out, 
        transform 0.2s ease, 
        box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadada;
}


.card-case-studies:hover {
    background: linear-gradient(to bottom, #fdfdfe, #e6f3ff);
    transform: scale(1.06);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border: 1px solid #dadada;
}


.card-case-studies span {
    color: #071b4a;
}

.card-case-studies:hover span {
    color: #071b4a; 
}

.card-case-studies:active {
    padding-bottom: 50px;
 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12); 
}


.main-content.internalpage {
    margin: 90px auto;
    width: 90%;
}

.internal-page-card {
    text-align: center;
    font-family: "Poppins", serif;
    color: rgb(7, 27, 74);
    background-color: white;
    width: 90%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 30px;
    margin: 0px 0px 90px 0px;
}

.internal-page-card h3 {
    font-size: 3em;
}

.internal-page-card h4 {
    font-size: 2em;
}


.internal-page-card p {
    font-size: 1.5em;
    text-align: left;
    float: left;
}

.internal-page-card > .image-eg-small {
    width: 30% !important;
}

/* Internal pages portfolio start */

.port-page-internal {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.projectinfo {
    margin: 60px 0px;
    background-color: #eee;
    padding: 20px;
}

.projectcontent {
    margin: 20px;
}

.projectinfo ul li {
    list-style: none;
    padding: 0px 0px 0px 10px;
}

.port-page-internal h3 {
    color: #071b4a;
    font-size: 1.2em;
    padding: 10px 0px;
    font-weight: 600;
}

.projectcontent img {
    padding: 10px;
}

div.projectcontent > .label-text {
    font-size: 14px;
    color: #3b3b3b;
    padding: 10px;
    margin: 0px;
}


/* Internal pages portfolio end */






/* Cards end */

/* Portfolio start */

/* Portfolio Page Styles */
.main-content-portfolio {
    width: 70%;
    margin: 60px auto;
}

.main-content-portfolio img {
border: 1px solid lightgray;
background-color: white;
padding: 30px;
}


/* Portfolio end */




/*////////////////////////////// Media query start */

/* Mobile nav start */

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
}


nav .menu {
    display: none; 
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav .menu li {
    margin: 10px 0;
}

nav .menu a {
    padding: 0px 10px;
    color: #071b4a;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}


nav .hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    right: 20px;
    top: 15px;
}
/* Mobile nav end */



/*********** Media query 1500px ***********/

@media (min-width: 1500px)  {
.initial-heading {
    font-size: 2em !important;
}

h1.landingpage-title {
    font-size: 2em !important;
}


}



/*********** Media query 960px ***********/

@media (min-width: 960px) {

.cover-alternate-content.wider > .landingpage-title {
    margin: 0px;
    padding: 20px 0px;
}

.cover-alternate-content.wider {
    background-size: contain;
}

nav .logo {
    display: none;
}

.display-title {
font-family: "Poppins", serif;
font-size: 6em !important;
}

.content-img {
    max-width: 60% !important;
    padding: 20px;
}

}


/*********** Media query 800px ***********/

@media (min-width: 800px) {

    
.initial-heading {
    margin: 0px !important;
    padding: 25px  !important;
}

div.main-button {
    margin: 0px auto;
    padding-left: 10%;
}
    
    
    
.display-title {
    margin: 0 auto !important;
}
    
.cover-alternate-content.wider.left {
    float: none !important;
}
    
    
}



/*********** Media query 768px ***********/

@media (min-width: 768px) {

.cover-alternate-content.wider {
    background-size: 40%;
}
    
 
h1.landingpage-title {
    font-size: 4em !important;
    font-weight: 900;
}

nav .menu {
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
}

nav .menu li {
    margin: 0px !important;
}

nav .hamburger {
    display: none !important; 
}

/* Mobile Menu Styles */
.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 4px;
    background-color: #071b4a;
    margin: 6px 0;
}

}


/* Hide nav links by default on mobile */
@media screen and (max-width: 768px) {

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ebeef3;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
    }

    nav ul.active {
        display: flex;
    }


h1 {
    font-size: 2em !important;
    font-weight: 600;
}
  
}

/*********** Media query 350px to 428px ***********/

@media (min-width: 350px) and (max-width: 428px) {

h1 {
    font-size: 1.5em !important; 
}

.cover-alternate-content.wider {
    background-size: 50%;
}


.cover-alternate-container.two, .cover-alternate-container.one .cover-alternate-content h2, .cover-alternate-container.one p, #word-cloud {
  padding: 10px 0px !important;
}

#word-cloud {
    margin:0px auto !important;
    width: 100% !important;
    font-size: 22px !important;
}




.cover-alternate-content {
    margin: 0px auto !important;
}


.cover-alternate-content.wider {
    width: 90% !important;
    margin: 0 auto !important;
}



h2 {
    font-size: 1.2em !important; 
}

h2.initial-heading {
    padding: 0px !important;
}

.button-like-eg {
    padding: 10px 20px !important;
    font-size: 16px !important;
    margin: 5px 0px !important;
}


.cover-alternate-content.wider.left {
    float: none !important;
}

}





/*********** Media query 350px to 450px ***********/

@media (min-width: 350px) and (max-width: 450px) {

.my-hero {
    width: 60%;
}


.cover-alternate-content {
    min-width: 100% !important;
    margin: 0 auto;
    padding: 0px;
}




.main-content {
    margin: 10% 0% 0% 0%;
}

.container {
    max-width: 100% !important;
    clear: both;
}

.card-case-studies {
    width: 100%;
}

.landingpage-title {
    font-weight: 900;
}

h2 {
    font-size: 1.2em;
}

.hero-call-action {
    width: 100%;
  }

.port-page-internal {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}


.internal-page-card div {
    padding: 0px;
}


ul, ol {
    font-size: 1em ;
    text-align: left;
}


li {
    padding: 0px;
}  

h1.landingpage-title {
    font-size: 2em !important;
}
 
a {
        font-size: 1em !important;
}

p {
    font-size: 1em !important;
    padding: 10px !important;
}


.button-like-eg, .initial-heading {
    margin: 0px !important;
}

.text-content {
    margin-right: 0px !important;
}

.content-bit {
    margin: 0px !important;
}

.text-content {
    width: 100%  !important;
    text-align: center  !important;
}




.internal-page-card > .image-eg-small, .internal-page-card img {
    width: 90% !important;
    padding-left: 0px;
}



.card-case-studies img {
    padding: 5px 0px 20px 0px !important
}

.card-case-studies {
    margin: 0px 0px 30px 0px !important;
}


.cover-alternate-content {
    width: 100%;
    margin: 0px;
}


.main-button {
    margin-right: 40px;
}


.cover-alternate-content.wider.left {
    float: none !important;
}

.cover-alternate-content.wider.left {
    width: 100%;
}

}


@media (min-width: 250px) and (max-width: 3500px) {

    .text-only-wider {
        width: 70%;
        margin-right: 200px;
        position: relative;
        left: -60px;
        bottom: 0px;
    }


    h1 {
        font-size: 2em !important;
        font-weight: 900;
    }
    
}

/* Media query end */



