
body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-color: #fefefe;
}


/* Navigation start */
nav {
    font-family: "Poppins", serif;
    margin-bottom: 0px;
    padding: 30px 60px;
    background-color: #ebeef3;
    color: #071b4a;
    padding: 20px 20px;
}


nav ul {
    font-family: "Poppins", serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}
nav ul li {
    font-family: "Poppins", serif;
    display: inline-block; 
    margin-right: 20px;
}
nav ul li a {
    font-family: "Poppins", serif;
    text-decoration: none;
    color: #071b4a;
    font-size: 16px;
}
nav ul li a:hover {
    font-family: "Poppins", serif;
    text-decoration: underline;
}




/* Navigation end */


/* Typogrphy start */

/* Titles start */
.captation-title {
    font-size: 1.5em;
    font-weight: 800;
    margin: 5px 0px;
}

.display-title {
    margin: 0 auto;
    color:  #2E6BA4ff ;
    font-size: 28px;
    font-weight: 900;
    padding: 10px 0px;
}


.cover-alternate-container.two h3.strong-typography, .cover-alternate-container.two p  {
    color: #ffffff;
}


/* Font Poppins */

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }

  
  /* Font Poppins end */


/* Titles end */

h2, h4, h5, h6 {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    color: #071b4a;
    margin: 0px;
    padding: 30px 0px;
}

h2 {
    font-size: 1em;
    font-weight: 400;
}

h1 {
    padding: 20px 0px;
    font-family: "Poppins", serif;
    font-size: 28px;
    color: #071b4a;
    font-weight: 900;
}

.initial-heading {
    margin-bottom: 90px;
    margin: 30px 0px 0px 0px;
  }

p {
    font-family: "Poppins", serif;
    color:  #071b4a;
    font-size: 1em;
}

a {
    color: #2C70B2;
    font-size: 1.5em;
}


.button-like-eg {
    display: inline-block;
    margin: 30px 0px;
    background: linear-gradient(to bottom, #FFD1DC, #B3D9FF); 
    padding: 20px 40px;
    border-radius: 60px;
    font-size: 32px;
    font-weight: 600; 
    color: #071E55; 
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 
        background 0.4s ease-in-out, 
        transform 0.2s ease, 
        text-decoration 0.2s ease, 
        box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.button-like-eg:hover {
    background: linear-gradient(to bottom,  #FDF5F5,  #FFD1DC);
    text-decoration: underline;
    transform: scale(1.06);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); 
}

.button-like-eg:active {
    transform: scale(0.96); 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12); 
}


.cover-alternate-content p {
    color: #071b4a;
}


.word-cloud {
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.word {
    display: inline-block;
    margin: 5px;
    font-family: Arial, sans-serif;
}
.small { font-size: 14px; color: gray; }
.medium { font-size: 24px; color: blue; }
.large { font-size: 36px; font-weight: bold; color: red; }
/* Typogrphy end */



/* Content divs start */
.wrapper {
    flex: 1;
    margin: 0 auto;
    text-align: center;
    width: 100vw; 
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.bkg-cover{
    margin: 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
}

svg {
    display: block;
    margin: 60px;
}


.main-content {
    margin: 0px auto;
}

.container-eg {
    margin: 0px 0px 30px 0px;
}


.cover-alternate-container {
    width: 100%;
}

.cover-alternate-content .bleed-into-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 90%;
}



.strong-typography-smaller {
    margin-bottom: 0px;
    weight: 300;
    font-weight: 400;
}




.cover-alternate-container.one p {
    padding: 30px 0px;
  }

.cover-alternate-container.two {
    background-color: #071E55;
    padding: 220px 0px;
}



.cover-alternate-container.three {
    background-color: #ffffff;
}
  

.cover-alternate-content {
    width: 60%;
    margin: 60px auto;
}

.cover-alternate-content h2{
    color: #ffffff;
}

.cover-alternate-container.one .cover-alternate-content h2 {
    color: #071E55;
  }

  .cover-alternate-content.wider {
    width: 90%;
  }


.content {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}


.strong-typography {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6;
}


/* Portfolio internal pages */

.main-content {
    flex-grow: 1;
    width: 90%;
}
.image-content img {
    margin: 20px;
    display: flex;
}

.content-bit {
    float: left;
}

.text-content {
    margin-right: 60px;
    float: left;
    width: 40%;
    text-align: left;
}

.image-content {
    float: right;
    width: 40%;
}

.image-content img {
    border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


/* Content divs end */


.banner-eg {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.banner-general {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.label {
    font-family: "Poppins", serif;
    font-size: 13px;
    color: #777777;

}

/* Images start */
img {
    width: 100%;
    height: auto;
    padding: 30px 0px;
}

img{
    margin: 0px auto;
    height: auto;
    padding: 0px;
}

.my-hero {
    width: 50%;
    float: right;
    padding: 60px 60px 60px 60px;
  }

  .cover-alternate-content.wider.left {
    float: right;
    width: 50%;
  }
  
  
  .my-hero.left {
    float: left;
    width: 30%;
  }

  .footer-ending img {
    width: 30%;
  }


/* Images end */

/* Footer start */

.wrapper {
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}




/* Footer styling */
.footer-ending {
    margin-top: auto;
}

footer {
    font-family: "Poppins", serif;
    color: #777777; 
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

.footer-ending {
    margin: 90px 0px;
  }


footer {
    font-family: "Poppins", serif;
    color: #777777; 
    text-align: center;
    margin-top: 60px; 
    padding: 10px 20px;
    width: 100%; 
}

/* Footer end */

/* Cards start */





a {
    text-decoration: none;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch;
    margin: 20px auto; 
    gap: 20px; 
}

.card-case-studies {
    flex: 1 1 calc(45% - 20px); 
    max-width: 400px; 
    min-width: 300px;
    text-align: center;
    font-family: "Poppins", serif;
    color: #071b4a;
    background: linear-gradient(to bottom, #fdfdfe, #e6f3ff);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 
        background 0.4s ease-in-out, 
        transform 0.2s ease, 
        box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 
}

.card-case-studies img {
    height: auto;
    margin: 10px auto 20px auto;
}

.card-case-studies:hover {
    background: linear-gradient(to bottom, #FDF5F5, #FFD1DC);
    transform: scale(1.06);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}


.card-case-studies span {
    font-size:0.9em; 
}

.card-case-studies:hover span {
    color: #ff4081; 
}



.card-case-studies:active {
    padding-bottom: 50px;
 
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12); 
}




/* Cards end */

/* Portfolio start */

/* Portfolio Page Styles */
.main-content-portfolio {
    width: 70%;
    margin: 60px auto;
}

.main-content-portfolio img {
border: 1px solid lightgray;
background-color: white;
padding: 30px;
}


/* Portfolio end */




/*////////////////////////////// Media query start */

/* Mobile nav start */

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
}


nav .menu {
    display: none; 
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav .menu li {
    margin: 10px 0;
}

nav .menu a {
    padding: 0px 10px;
    color: #071b4a;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
}


nav .hamburger {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    top: 15px;
}
/* Mobile nav end */


@media (min-width: 1500px)  {
    .initial-heading {
        font-size: 2em !important;
      }


}


@media (min-width: 960px) {

    

    nav .logo {
        display: none;
    }

    .display-title {
        font-family: "Poppins", serif;
        font-size: 6em !important;
    }

    .content-img {
        max-width: 60% !important;
    }

    .cover-alternate-container img {
        width: 60%;
    }

}

@media (min-width: 800px) {


    a {
        font-size: 1.5em !important;
    }


    .card-case-studies {
        width: 100% !important;
        margin: 50px !important;
        padding: 10px 60px 30px 60px !important;
    }

    .cover-alternate-content.wider {
        width: 90% !important;
    }


    .my-hero {
        width: 50% !important;
        float: right !important;
        padding: 0px !important;
      }
    
    .initial-heading {
        margin: 0px  !important;
        padding: 20px  !important;
    }
    
  
    
    .strong-typography-smaller {
        padding: 0px !important;
    }
    
    .button-like-eg {
        margin: 0px !important;
        font-size: 22px !important;
    }
    
    .cover-alternate-container.one {
        margin-bottom: 30px !important;
    }
    
    .cover-alternate-container.two {
        padding: 20px 0px !important;
    }
    
    .cover-alternate-content {
        width: 80% !important;
    }
    
    .display-title {
        margin: 0 auto !important;
    }
    
    .cover-alternate-content.wider.left {
        float: none !important;
    }
    
    
    }
    

@media (min-width: 768px) {

  

    nav .menu {
        display: flex !important;
        gap: 20px !important;
        align-items: center !important;
    }

    nav .menu li {
        margin: 0px !important;
    }

    nav .hamburger {
        display: none !important; 
    }


    h1 {
        font-size: 1.8em !important;
    }



    h3 {
        font-size: 2em !important;
    }

    p {
        font-size: 1em !important;
    }

  
}

/* Media query for small screens (300px or smaller) */


@media (min-width: 350px) and (max-width: 428px) {


.main-content {
    margin: 0px 20px  !important;
}


.cover-alternate-container.two, .cover-alternate-container.one .cover-alternate-content h2, .cover-alternate-container.one p, #word-cloud {
  padding: 10px 0px !important;
}

#word-cloud {
    margin:0px auto !important;
    width: 100% !important;
    font-size: 22px !important;
}

.cover-alternate-content {
    width: 80% !important;
}

.initial-heading {
    margin: 0px !important;
}

.my-hero {
    padding: 0px !important;
    float: none !important;
}

.cover-alternate-content {
    margin: 0px auto !important;
}

.cover-alternate-content.wider {
    width: 90% !important;
    margin: 0 auto !important;
}

.strong-typography-smaller {
    padding: 0px !important;
}

h1 {
    font-size: 1.5em !important; 
}

h2 {
    font-size: 1.2em !important; 
  
}

.button-like-eg {
    padding: 10px 20px !important;
    font-size: 16px !important;
    margin: 5px 0px !important;
}

.footer-ending {
    margin: 0px !important;
}

.cover-alternate-content.wider.left {
    float: none !important;
}

}



@media (min-width: 350px) and (max-width: 450px) {

.text-content {
    margin-right: 0px !important;
}

.content-bit {
    margin: 0px !important;
}

.text-content {
    width: 100%  !important;
    text-align: center  !important;
}

.image-content {
    display: flex !important;
    width: 100%  !important;
}

.main-content img {
    width: 100%  !important;
}

h1 {
    margin: 20px 0px !important;
}

a {
    font-size: 1em !important;
}

.card-case-studies img {
    padding: 0px 0px 10px 0px !important;
}

.card-case-studies {
    width: 90% !important;
    margin: 0px 0px 30px 0px !important;
    padding: 0px 10px 20px 10px !important;
}

.display-title {
    font-size: 48px !important;
}

.strong-typography-smaller {
    padding: 0px;
}

a.button-like-eg {
    font-size: 20px !important;
}
   

div.cover-alternate-container.two {
    padding: 20px 0px   !important;
}

.cover-alternate-content{
    width: 80% !important;
    margin: 0px 20px 40px 20px!important;
}

.cover-alternate-container.one p {
    padding: 0px !important;
}

.cover-alternate-content.wider.left {
    float: none !important;
}

}




/* Media query end */



